#ignore dat files
*.dat
#ignore bin
DomainModel/bin
bin/
*.suo
Website/Website/obj
_ReSharper.CarrierPigeons
DomainModel/obj
Website/Website/bin
CarrierPigeons.4.5.resharper.user
CarrierPigeons.suo
*.dat
